@font-face {
  font-family: "Monsterrat";
  src: url("./assets/fonts/Montserrat.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #101010;
  color: #fff;
  font-family: "Monsterrat", sans-serif;
}
